<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Node.js Demo
    </title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
</head>

<body>
    <nav>
        <div class="site-title">
            <h1>Anomaly-Detection</h1>
        </div>
    </nav>
    <div class="drop-zone">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <header>Drag & Drop train-csv file</header>
        <span>OR</span>
        <button class="button">Browse File</button>
    </div>
    <script src="./App.js"></script>
</body>

</html>