<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Detection App
    </title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
</head>

<body>
    <nav>
        <div class="site-title">
            <h1>Anomaly Detection Server</h1>
        </div>
    </nav>
    <script>
        function submitAlert() {
            alert("It may take a few seconds...");
        }
    </script>
    <form action="/detect" onsubmit="submitAlert()" method="POST" enctype="multipart/form-data" target="detection">
        <select required id="algorithm-select" name="algo">
            <option value="" disabled selected>Select Algorithm:</option>
            <option value="1" name="regression">Regression</option>
            <option value="2" name="hybrid">Hybrid</option>
        </select>
        <table>
            <tr>
                <td><input required type="file" accept=".csv" name="train"></td>
                <td>Train csv</td>
            </tr>
            <tr>
                <td><input required type="file" accept=".csv" name="test"></td>
                <td>Test csv</td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Upload">
    </form>
    <br>
    <iframe name="detection" frameborder="0" width="80%" height="400"></iframe>

</body>

</html>